* { 
  box-sizing: border-box; 
  margin: 0; 
  padding: 0; 
}

body { 
    height: 100vh;
    font-family: 'Inter', sans-serif;
}

button, 
input {
  font: inherit;
}

.center-wrapper {
    width: 100%;
    min-height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.login-container {
    width: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 24px;
    padding-top: 5vh;
}

.header-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
}

.logo {
    width: 250px;
    height: 100px;
}

.title {
    font-size: 24px;
    font-weight: 600;
}

.subtitle {
    font-size: 16px;
    color: black;
}

.login-form {
    display: flex;
    flex-direction: column;
    gap: 32px;
}

.login-form input {
    width: 400px;
    height: 40px;
    padding: 8px 16px;
    border-radius: 8px;
    border: 1px solid #E0E0E0;
    font-size: 20px;
    color: #828282;
}

.login-form button {
    width: 400px;
    height: 40px;
    background: #000;
    color: #fff;
    border-radius: 8px;
    border: none;
    cursor: pointer;
    font-size: 16px;
    font-weight: 500;
}