html, body {
    margin: 0; 
    height: 100%;
    font-family: 'Inter', sans-serif;
}

.center-wrapper {
    width: 100%;
    min-height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.login-container {
    width: 400px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 24px;
    padding-top: 5vh;
}

.header-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
}

.logo {
    width: 250px;
    height: 100px;
}

.title {
    font-size: 24px;
    font-weight: 600;
}

.subtitle {
    font-size: 16px;
    color: black;
}

.login-form {
    display: flex;
    flex-direction: column;
    gap: 32px;
}

.login-form input {
    width: 400px;
    height: 40px;
    padding: 8px 16px;
    border-radius: 8px;
    border: 1px solid #E0E0E0;
    font-size: 20px;
    color: #828282;
    box-sizing: border-box;
}

.login-form button {
    width: 400px;
    height: 40px;
    background: black;
    color: white;
    border-radius: 8px;
    border: none;
    cursor: pointer;
    font-size: 16px;
    font-weight: 500;
}